<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Space Bomber</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../static/css/style.css">
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="../static/js/js.cookie.js"></script>
	
</head>
<body class="black-bg zero-margin">
<div class="titleArea2">
	<div id="titleArea" >
		<img class="title-image" src="../static/images/space_background.jpg" alt="">
	</div>
	<div class="title center">
		<img src="../static/images/space_bomber_title.png" alt="">
	</div>
</div>

<div id="indexMain" class="container-fluid">
	<div class="col-xs-1">
		
	</div>
	<div class="col-xs-10">
		<form id="searchForm" class="form" action="/game/{{game_id}}" method="POST">
			<div class="input-group">
				<input type="text" name="username" class="form-control" placeholder="Enter Username">
				<span class="input-group-btn">
					<button class="btn btn-secondary" type="submit">Start Game</button>
				</span>
		    </div>
	    </form>
	</div>
	<div class="col-xs-1">
		
	</div>
</div>
<div id="indexMain2" class="container-fluid">
	<div class="col-xs-1">
		
	</div>
	<div class="col-xs-10 text">
		<p>
		Directions:<br/>
		<br/>
		Step 1: Enter a username and press start game!<br/>
		<br/>
		Step 2: Send the resulting URL to a friend! The URL will look similar to this:<br/>
		<div class="indent">http://space-bomber.herokuapp.com/game/odgg3utyrz7mbfwjsromz1pa8<br/>
		<br/>
		Your opponent will be asked to enter username after clicking on the link. After which your opponent will appear in your game session and their username will be displayed in the "Enemy" slot on the right-hand column.<br/>
		</div>
		<br/>
		Step 3: You as the initiating player will then be able to make the first move!
		</p>
	<div class="col-xs-1">
		
	</div>
</div>
</body>
</html>