.border {
	border: 1px solid #45d6e0
}


.black-bg{
	background-color: #000000;
}

.zero-margin{
	margin: 0px;
	padding: 0px;
}

.main-font {
	font-family: Arial, sans-serif;
}

.main-color {
	color: #4cc7d1;
}


/* index.html page specific --------------------------*/
#titleArea{
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 10;
}

.title-image {
	width:100%;
	height: auto;
}
.title{
	position: relative;
	z-index: 100;
}

.titleArea2{
	position: relative;
}

#indexMain {
	position: relative;
	top: 40px;
	z-index: 100;
}

#indexMain2 {
	position: relative;
	top: 100px;
	z-index: 200;
}

.text{
	color: white;
}

.indent{
	margin-left: 50px;
}


/* index.html page specific --------------------------*/

#app_container{
	position: absolute;
	width: 100%;
	height: 100%;
	display: table;
	z-index: 100;
}

#app_container_middle{
	display: table-cell;
    vertical-align: middle;

}

#app {
	width: 1200px;
	height: 800px;
	background-color: black;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}




/* game.html page specific --------------------------*/

#playerPanel {
	width: 1000px;
	height: 400px;
	position: absolute;
	box-sizing: border-box;
	border-top: 1px solid #45d6e0;
	top: 400px;
	color: white;
}

#enemyPanel {
	width: 1000px;
	height: 400px;
	position: absolute;
	top:-1px;
	border-bottom: 1px solid #45d6e0;
	color: white;
}

.gridTile {
	width: 50px;
	height: 50px;
	position: relative;
	display: inline-block; 
	vertical-align: top;
	padding: 0;
	margin: 0;
}

.hitMarker {
	width: 50px;
	height: 50px;
	position: absolute;
	padding: 0;
	margin: 0;
}

.missMarker {
	width: 50px;
	height: 50px;
	position: absolute;
	padding: 0;
	margin: 0;
}

#gridLayerPlayer{
	position: absolute;
}

#objectLayerPlayer{
	position: absolute;
	width:1000px;
	height:400px;
}

.ship1 {
	width: 50px;
	height: 150px;
	position: absolute;
}


.center {
	text-align: center;
}

/* Side Panel------------------------*/

#sidePanel {
	width: 200px;
	height: 800px;
	border-left: 1px solid #45d6e0;
	position: absolute;
	box-sizing: border-box;
	right: 0;
	color: white;
}

#titleBox {
	text-align: center;
}

#title{
	font-family: Arial, sans-serif;
	color: #4cc7d1;
	margin-bottom: 10px;
}

#playerlabels{
	margin-top: 40px;
	margin-left: 5px;
}


#shipsDestroyedStatus{
	margin-top:50px; 
	margin-left: 5px;
}

#shipsDestroyedTitle{
	margin-bottom: 5px;
}

.ships-destroyed-marker-on {
	background-image: url("./../images/shipsDestroyedBox_on.png");
	width: 41px;
	height: 41px;
	position: relative;
	display: inline-block;
	padding: 0;
	margin: 0;
	margin-right: 10px;
}

.ships-destroyed-marker-off {
	background-image: url("./../images/shipsDestroyedBox_off.png");
	width: 41px;
	height: 41px;
	position: relative;
	display: inline-block;
	padding: 0;
	margin: 0;
	margin-right: 10px;
}

#whosTurn{
	margin-top:30px;
	margin-left: 5px;
}



